# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
pd.Series(anomalia_termica)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

# seu código aqui
anos_index = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
pd.Series(data=anomalia_termica, index=anos_index)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [8]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [11]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0    84.601934   88.871583   98.386546
1    94.544238  102.410781   85.963879
2    99.487711  109.891964   97.920065
3    92.404384   95.515673   93.159564
4   102.417736   95.155374   97.278177
5    81.459903  104.950727   96.472096
6   105.753021   99.927959  104.483242
7    85.653600   97.232907   96.451645
8   106.517550   88.292157   89.852697
9   111.702120   88.195920  110.411088
10   88.107611   83.706261  109.847550
11   94.522641   90.804359   92.879740
12  100.885444  112.429407  106.756519
13   80.340599   88.149698  106.557325
14  116.907573   92.912487  102.599917
15  102.323539  103.626374  111.779852
16   86.798667  118.017189   92.738532
17  104.530097  111.431000   89.674309
18  104.572549   90.127131   93.405174
19  103.515066  102.254989   94.519188

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [34]:
#seu código aqui
index_1a20 = list(range(1,21))
xi = ['x1', 'x2', 'x3']
data = pd.DataFrame(data = arr ,index = index_1a20, columns = xi )
data

            x1          x2          x3
1    84.601934   88.871583   98.386546
2    94.544238  102.410781   85.963879
3    99.487711  109.891964   97.920065
4    92.404384   95.515673   93.159564
5   102.417736   95.155374   97.278177
6    81.459903  104.950727   96.472096
7   105.753021   99.927959  104.483242
8    85.653600   97.232907   96.451645
9   106.517550   88.292157   89.852697
10  111.702120   88.195920  110.411088
11   88.107611   83.706261  109.847550
12   94.522641   90.804359   92.879740
13  100.885444  112.429407  106.756519
14   80.340599   88.149698  106.557325
15  116.907573   92.912487  102.599917
16  102.323539  103.626374  111.779852
17   86.798667  118.017189   92.738532
18  104.530097  111.431000   89.674309
19  104.572549   90.127131   93.405174
20  103.515066  102.254989   94.519188

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [31]:
# seu código aqui
data['Média'] = (data['x1'] + data['x2'] + data['x3']) / 3
data

            x1          x2          x3       Média
1    84.601934   88.871583   98.386546   90.620021
2    94.544238  102.410781   85.963879   94.306299
3    99.487711  109.891964   97.920065  102.433247
4    92.404384   95.515673   93.159564   93.693207
5   102.417736   95.155374   97.278177   98.283762
6    81.459903  104.950727   96.472096   94.294242
7   105.753021   99.927959  104.483242  103.388074
8    85.653600   97.232907   96.451645   93.112717
9   106.517550   88.292157   89.852697   94.887468
10  111.702120   88.195920  110.411088  103.436376
11   88.107611   83.706261  109.847550   93.887141
12   94.522641   90.804359   92.879740   92.735580
13  100.885444  112.429407  106.756519  106.690457
14   80.340599   88.149698  106.557325   91.682541
15  116.907573   92.912487  102.599917  104.139993
16  102.323539  103.626374  111.779852  105.909921
17   86.798667  118.017189   92.738532   99.184796
18  104.530097  111.431000   89.674309  101.878468
19  104.572549   90.127131   93.405174   96.034951
20  103.515066  102.254989   94.519188  100.096415

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [33]:
# seu código aqui
data['log_med'] = np.log(data['Média'])
data

            x1          x2          x3       Média   log_med
1    84.601934   88.871583   98.386546   90.620021  4.506675
2    94.544238  102.410781   85.963879   94.306299  4.546548
3    99.487711  109.891964   97.920065  102.433247  4.629211
4    92.404384   95.515673   93.159564   93.693207  4.540026
5   102.417736   95.155374   97.278177   98.283762  4.587859
6    81.459903  104.950727   96.472096   94.294242  4.546420
7   105.753021   99.927959  104.483242  103.388074  4.638490
8    85.653600   97.232907   96.451645   93.112717  4.533811
9   106.517550   88.292157   89.852697   94.887468  4.552692
10  111.702120   88.195920  110.411088  103.436376  4.638957
11   88.107611   83.706261  109.847550   93.887141  4.542093
12   94.522641   90.804359   92.879740   92.735580  4.529752
13  100.885444  112.429407  106.756519  106.690457  4.669932
14   80.340599   88.149698  106.557325   91.682541  4.518332
15  116.907573   92.912487  102.599917  104.139993  4.645736
16  102.323539  103.626374  111.779852  105.909921  4.662589
17   86.798667  118.017189   92.738532   99.184796  4.596985
18  104.530097  111.431000   89.674309  101.878468  4.623781
19  104.572549   90.127131   93.405174   96.034951  4.564712
20  103.515066  102.254989   94.519188  100.096415  4.606134